{
  "presets": [
    ["@babel/env", { "modules": false, "targets": { "node": "10" } }],
    "@babel/preset-react",
    "@babel/typescript"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false, // default: false
        "corejs": false, // default: false
        "helpers": true, // default: true
        "regenerator": true, // default: true
        "useESModules": false // default: false
      }
    ]
  ]
}
